TUKETICI HAKEM HEYETI BASVURU DILEKCESI

Basvuran: {{applicant_full_name}}
Satici/Hizmet Saglayici: {{seller_name}}
Olay Tarihi: {{incident_date}}
Bedel: {{purchase_amount}}
Talep: {{request_type}}

Olay Ozeti:
{{incident_summary}}
