SUC DUYURUSU DILEKCESI

Sikayetci: {{complainant_full_name}}
Supheli: {{suspect_info}}
Olay Tarihi: {{incident_date}}
Olay Yeri: {{incident_location}}
Suc Niteligi: {{crime_type}}

Aciklama:
{{incident_summary}}
