IS HUKUKU FESIH DILEKCESI

Calisan: {{employee_full_name}}
Isveren: {{employer_name}}
Ise Giris Tarihi: {{employment_start_date}}
Fesih Tarihi: {{termination_date}}
Fesih Gerekcesi: {{termination_reason}}
Talep Edilen Haklar: {{claims}}
