KIRACI TAHLIYE IHTARNAMESI

Sayin {{tenant_full_name}},
{{property_address}} adresindeki tasinmaz icin {{contract_date}} tarihli kira sozlesmesi kapsaminda tarafinizdan kullanim surmektedir.

Tahliye gerekcesi: {{eviction_reason}}

Isbu ihtarnamenin tebliginden itibaren {{notice_days}} gun icinde tahliye edilmesi rica olunur.
Iletisim adresi: {{tenant_address}}
Ek notlar: {{extra_clauses}}
