ARAC SATIS SOZLESMESI

Satici: {{seller_full_name}}
Alici: {{buyer_full_name}}
Arac Bilgileri: {{vehicle_info}}
Satis Bedeli: {{sale_price}}
Satis Tarihi: {{sale_date}}
Teslim Kosullari: {{delivery_terms}}
